<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppPathAsFirstArg</key>
	<false/>
	<key>Creator</key>
	<string>Platypus-4.0</string>
	<key>InterpreterParams</key>
	<array/>
	<key>IsDroppable</key>
	<false/>
	<key>OutputType</key>
	<string>None</string>
	<key>RemainRunningAfterCompletion</key>
	<false/>
	<key>RequiresAdminPrivileges</key>
	<false/>
	<key>ScriptInterpreter</key>
	<string>/usr/bin/osascript</string>
	<key>Secure</key>
	<false/>
	<key>TextBackground</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpZJGFyY2hpdmVyWCR2ZXJzaW9uVCR0b3BYJG9iamVjdHNf
	EA9OU0tleWVkQXJjaGl2ZXISAAGGoNEICVRyb290gAGjCwwTVSRudWxs0w0ODxAREldO
	U1doaXRlXE5TQ29sb3JTcGFjZVYkY2xhc3NCMQAQA4AC0hQVFhdYJGNsYXNzZXNaJGNs
	YXNzbmFtZaIXGFdOU0NvbG9yWE5TT2JqZWN0CBEbJCkyRElMUVNXXWRseYCDhYeMlaCj
	qwAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAAC0
	</data>
	<key>TextEncoding</key>
	<integer>1</integer>
	<key>TextFont</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpZJGFyY2hpdmVyWCR2ZXJzaW9uVCR0b3BYJG9iamVjdHNf
	EA9OU0tleWVkQXJjaGl2ZXISAAGGoNEICVRyb290gAGkCwwVFlUkbnVsbNQNDg8QERIT
	FFZOU1NpemVWTlNOYW1lViRjbGFzc1hOU2ZGbGFncyJBIAAAgAKAAxAQVk1vbmFjb9IX
	GBkaWCRjbGFzc2VzWiRjbGFzc25hbWWiGhtWTlNGb250WE5TT2JqZWN0CBEbJCkyRElM
	UVNYXmdudXyFioyOkJecpbCzugAAAAAAAAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADD
	</data>
	<key>TextForeground</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpZJGFyY2hpdmVyWCR2ZXJzaW9uVCR0b3BYJG9iamVjdHNf
	EA9OU0tleWVkQXJjaGl2ZXISAAGGoNEICVRyb290gAGjCwwTVSRudWxs0w0ODxAREldO
	U1doaXRlXE5TQ29sb3JTcGFjZVYkY2xhc3NCMAAQA4AC0hQVFhdYJGNsYXNzZXNaJGNs
	YXNzbmFtZaIXGFdOU0NvbG9yWE5TT2JqZWN0CBEbJCkyRElMUVNXXWRseYCDhYeMlaCj
	qwAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAAC0
	</data>
</dict>
</plist>
